body {
  font-family: "Georgia", serif;
  background-color: #f3f0ed;
  color: #3c3c3c;
  text-align: center;
  margin: 0;
}

header {
  background-color: #b2a59b;
  color: white;
  padding: 30px 0;
  font-size: 2em;
}

main {
  margin-top: 60px;
}

footer {
  background-color: #e0dcd8;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

